p {
  color: grey;
}

.cardbody {
  width: 100%;
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.positiveFeedback {
  width: 100px;
  height: 100px;
  box-shadow: 5px 5px 15px 0px rgba(13, 39, 80, 0.16), -5px -5px 15px 0px #fff;
  border-radius: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  margin: 0 auto;
}

.percentage {
  margin: 0;
  padding-top: 20%;
  background: linear-gradient(167deg, rgb(201, 87, 106) 34.27%, #dd6480 56.59%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
